html {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #e56262;
}
.frame {
  display: grid;
  place-items: center;

  width: 150px;
  height: 150px;
}

/* $bezier: cubic-bezier(.21,.98,.6,.99); */

.center {
  width: 150px;
  height: 150px;

  display: grid;
  place-items: center;
}
.dot-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: absolute;
  z-index: 3;

  background: #fff;
  animation-fill-mode: both;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}
.dot-2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  position: absolute;
  z-index: 2;

  background: #fff;
  animation-fill-mode: both;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}
.dot-3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  background: #fff;
  animation-fill-mode: both;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

@keyframes jump-jump-1 {
  0%,
  70% {
    box-shadow: 3px 3px 5px 3px (rgba(0, 0, 0, 0.2));
    transform: scale(0);
  }
  100% {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);
  }
}
@keyframes jump-jump-2 {
  0%,
  40% {
    box-shadow: 3px 3px 5px 3px (rgba(0, 0, 0, 0.2));
    transform: scale(0);
  }
  100% {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);
  }
}
@keyframes jump-jump-3 {
  0%,
  10% {
    box-shadow: 3px 3px 5px 3px (rgba(0, 0, 0, 0.2));
    transform: scale(0);
  }
  100% {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);
  }
}
